{% extends "global/pages/index.html" %}

<!title>
{% block title %}{{ title }}{% endblock title %}

<! Main Content >
{% block main_content %}
<div class="content-header">
    <h2 class="content-title">
        <i class="fas fa-boxes"></i> Produto
    </h2>
</div>

<div class="inventory-table-container">
    <div class="table-wrapper">
        <table class="inventory-table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Categoria</th>
                    <th>Código</th>
                    <th>Preço</th>
                    <th>Estoque</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% include "inventory/partials/product.html" %}
            </tbody>
        </table>
    </div>
</div>
{% endblock main_content %}

<! Sidebar Links>
{% block sidebar_links %}
{% include 'inventory/partials/sidebarLinks.html' %}
{% endblock sidebar_links %}

<! Add New Register modal>
{% block add_new_register %}
{% include "inventory/partials/addNewProduct.html" %}
{% endblock add_new_register %}
