{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'catalog/css/style_rebase.css' %}">
<link rel="shortcut icon" href="{% static 'global/images/logo.ico' %}" type="image/x-icon" sizes="32x32">
<link rel="stylesheet" href="{% static 'global/css/style_messages.css' %}">
<script src="{% static 'catalog/js/crud_cart.js' %}" type="module" defer ></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<script src="https://unpkg.com/feather-icons"></script>