<header class="main-header">
    {% load static %}
    <div class="header-container">
        <a href="{% url 'catalog:home' %}" class="logo"><img src="{% static 'global/images/logo.png' %}" alt="M-A-C"></a>
        
        <nav class="main-nav">
            <a href="{% url 'catalog:home' %}">Página Inicial</a>
            <a href="{% url 'catalog:offer' %}">Ofertas</a>
        </nav>
        <div class="header-actions">
            <form action="{% url 'catalog:search' %}" method="get" class="search-bar">
                <input type="search" name="q" value="{{ search_term }}" placeholder="Pesquisar por produtos ou marcas" required>
                <button type="submit" class="search-button"><i data-feather="search"></i></button>
            </form> 
            {% if request.user.is_authenticated %}
                <p>Você está logado como {{ request.user.username }}</p>
                <a href="{% url 'users:register' %}" class="action-icon"><i data-feather="user-plus"></i></a>
                <form action="{% url 'users:logout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ request.user.username }}">
                    <button type="submit" class="btn-logout-catalog"><i data-feather="log-out"></i></button>
                </form>
            {% else %}
                <a href="{% url 'users:login' %}" class="action-icon"><i data-feather="log-in"></i></a>
            {% endif %}
        </div>

        <a href="#" class="mobile-menu-icon">
            <i data-feather="menu"></i>
        </a>
    </div>
</header>