<div class="product-card">
    <a href="{% url 'catalog:product' product.id %}" class="product-link">
        <div class="product-image-container">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="Produto">
            {% endif %}
        </div>
        <div class="product-info">
            <h3 class="product-title">{{ product.name }}</h3>
            <span class="product-brand">{{ product.brand }}</span>
            <div class="product-prices">
                <span class="price-wholesale">R$ {{ product.stock.wholesale_price }} - {{ product.packaging_type }} com {{ product.unit_per_packaging }} {{ product.unit_measure }}</span>
                <span class="price-retail">R$ {{ product.stock.sale_price }} <small>UN</small></span>
            </div>
        </div>
    </a>
    <button class="add-to-cart-btn" id="{{ product.id }}">Adicionar ao Carrinho</button>
</div>
