<nav class="main-nav">
    <ul>
        <li><a href="{% url "catalog:home" %}">Página inicial</a></li>
        <li><a href="{% url "catalog:offer" %}">Ofertas</a></li>
        <li>
            <label for="category">Filtrar por categoria</label>
            <select name="category" onchange="window.location.href=this.value;">
                <option value="">-- Selecione uma categoria --</option>
                <option value="{% url 'catalog:home' %}">Todas</option>
                {% for category in categories %}
                    <option value="{% url 'catalog:category' category.id %}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </li>
    </ul>
</nav>