<div class="back-link-container">
    <a href="{% url 'catalog:home' %}" class="back-link"> <i data-feather="arrow-left"></i>
        Continuar comprando
    </a>
</div>

<main class="product-detail-main">
    
    <div class="product-image-gallery">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="Produto">
        {% endif %}
    </div>

    <section class="product-info-details">
        <h1 class="product-detail-title">{{ product.name }}</h1>

        <div class="product-prices-detail">
            {% if product.stock.discount > 0 or product.stock.discount is not None%}
                <span class="price-original"> R$ {{ product.stock.sale_price }}</span>
            {% endif %}
            <span class="price-primary"> 
                
                R$ {{ product.stock.get_discounted_price }}
                {% if product.stock.discount > 0 or product.stock.discount is not None%}
                    <span class="product-discount-badge">{{ product.stock.discount }}% OFF</span>
                {% endif %}
            </span>
            <span class="price-secondary">
                {% if product.stock.wholesale_price > 0 %}
                    R$ {{ product.stock.wholesale_price }} - {{ product.packaging_type }} com {{ product.unit_per_packaging }} {{ product.unit_measure }}
                {% endif %}
            </span>
        </div>

        <div class="product-stock">
            Estoque disponível: <strong>{{ product.stock.quantity }}</strong>
        </div>
        
        <form class="cart-form">
            <div class="quantity-selector">
                <label for="quantity">Quantidade:</label>
                <input type="number" id="quantity" name="quantity" value="1" min="1" max="{{ product.stock.quantity }}">
            </div>
            <button type="submit" class="add-to-cart-btn-large">
                <i data-feather="shopping-cart"></i>
                Adicionar ao pedido
            </button>
        </form>
    </section>

    <section class="product-description">
        <h2>Descrição</h2>
        {{ product.description }}
    </section>

</main>