<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "global/partials/head.html" %} 
    <title>Catálogo de Produtos</title>
</head>
<body>
    <header class="header-fix">
        <div class = "header-green"></div>
        <div class = "header-blue">
            {% include "catalog/partials/search.html" %}
        </div>
        {% include "catalog/partials/navbar.html" %}
    </header>
    <main class="main-content">
        <h1 class="catalog-title">Catálogo</h1>
        <h3 class="catalog-subtitle">Produtos em destaque</h3>
        <div class="galery">
            {% for product in products %}
                {% include 'catalog/partials/item_catalog.html' %}
            {% empty %}
                <h1>Nenhum produto encontrado</h1>
            {% endfor %} 
        </div>
        {% include "catalog/partials/pagination.html" %}
    </main>
</body>
</html>