{% extends "global/pages/index.html" %}

<! Main Content >
{% block main_content %}
<div class="content-header">
    <h2 class="content-title">
        <i class="fas fa-users"></i> Gerenciamento de Clientes
    </h2>
    <div class="action-buttons">
        <button class="btn btn-export">
            <i class="fas fa-file-export"></i> Exportar
        </button>
        <a href="{% url 'client:add_client' %}" class="btn btn-add">
            <i class="fas fa-plus"></i> Adicionar Cliente
        </a>
    </div>
</div>

<div class="inventory-table-container">
    <div class="table-header">
        <div class="table-controls">
            <select class="filter-select">
                <option>Todos os clientes</option>
                <option>Clientes ativos</option>
                <option>Clientes inativos</option>
                <option>Novos clientes</option>
            </select>
            <span class="table-info">Mostrando 50 de 1,254 clientes</span>
        </div>
        <div class="search-container">
            <input type="text" placeholder="Filtrar clientes..." class="filter-input">
            <i class="fas fa-search search-icon"></i>
        </div>
    </div>
    <div class="table-wrapper">
        <table class="inventory-table">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Data de cadastro</th>
                    <th>Telefone</th>
                    <th>Ultima compra</th>
                    <th>Total gasto</th>
                    <th>Status</th>
                    <th class="text-right">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    {% include "inventory/partials/product.html" %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table-footer">
        <div class="footer-info">
            <p>Mostrando <b>1</b> a <b>4</b> de <b>1,254</b> clientes</p>
        </div>
        <div class="pagination">
            <button class="pagination-btn active">Anterior</button>
            <button class="pagination-btn current">1</button>
            <button class="pagination-btn">2</button>
            <button class="pagination-btn">3</button>
            <span class="pagination-dots">...</span>
            <button class="pagination-btn">50</button>  
            <button class="pagination-btn">Próximo</button>
        </div>
    </div>
</div>
{% endblock main_content %}

<! Sidebar Links>
{% block sidebar_links %}
{% include 'inventory/partials/sidebarLinks.html' %}
{% endblock sidebar_links %}

<! Add New Register modal>
{% block add_new_register %}
{% include "inventory/partials/addNewProduct.html" %}
{% endblock add_new_register %}
