<li class="cart-item" data-id="7891000000010">
    <span class="item-name">Refrigerante Cola 2L</span>
    <div class="item-quantity">
        <button class="quantity-btn decrease" data-id="7891000000010">-</button>
        <input type="number" class="quantity-input" value="1" min="1" data-id="7891000000010">
        <button class="quantity-btn increase" data-id="7891000000010">+</button>
    </div>
    <span class="item-price">R$&nbsp;8,50</span>
    <button class="remove-btn" data-id="7891000000010">×</button>
</li>