<div class="pos-container">
    
    <div class="cart-container">
        <h2>Itens da Venda #{{ sale.id }}</h2>
        <div class="cart-header">
            <span class="header-product">Produto</span>
            <span class="header-quantity">Qtd.</span>
            <span class="header-price">Preço</span>
            <span class="header-remove"></span>
        </div>
        <ul id="cart-items">
            {% for item in items %}
                {% include "sale/partials/pdv/item.html" %}
            {% empty %}
                <li>Nenhum item na venda</li>
            {% endfor %}
        </ul>
    </div>

    <div class="summary-container">
        <h3>Resumo do Pedido</h3>
        
        <div class="input-group">
            <label for="quantity">Código de Barras</label>
            <form action="{% url 'sale:sale_add' %}" method="post" id="add-item-form">
                {% csrf_token %}
                <div class="input-container">
                    <input type="number" id="quantity" placeholder="qtd" min="1">  
                    <input type="text" id="barcode-input" placeholder="Passe o leitor ou digite o código...">        
                    <button type="submit" style="display: none;">Enviar</button>
                </div>
            </form>

        </div>
        
        <div class="summary-details">
            <div class="summary-line discount-line">
                <label for="client-input">Cliente</label>
                <input type="text" id="client-input" placeholder="Nome do cliente">
            </div>
            <div class="summary-line">
                <span>Subtotal</span>
                <span id="subtotal">R$ 0,00</span>
            </div>
            <div class="summary-line discount-line">
                <label for="discount-input">Desconto (R$)</label>
                <input type="number" id="discount-input" value="0" min="0">
            </div>
            <div class="summary-line discount-line">
                <label for="frete-input">Frete (R$)</label>
                <input type="number" id="frete-input" value="0" min="0">
            </div>
            <div class="summary-line total">
                <span>Total</span>
                <span id="total">R$ 0,00</span>
            </div>
        </div>

        <button id="print-btn" class="btn btn-secondary">Imprimir</button>
        <button id="payment-btn" class="btn btn-primary">Finalizar Pagamento</button>
        <button id="cancel-btn" class="btn btn-danger">Cancelar Venda</button>
        
        {% include 'sale/partials/pdv/payment_method.html' %}
    </div>
    {% include 'sale/partials/pdv/search_product.html' %}
</div>
