<li class="cart-item" id="{{ item.id }}">
    <span class="item-name">{{ item.product.name }}</span>
    <div class="item-quantity">
        {% if sale.status == 'pendente' %}
            <button class="quantity-btn decrease" data-barcode="{{ item.product.barcode }}">-</button>
            <input type="number" class="item-quantity-value" value="{{ item.quantity }}" min="1" readonly>
            <button class="quantity-btn increase" data-barcode="{{ item.product.barcode }}">+</button>
        {% else %}
            <input type="number" class="item-quantity-value" value="{{ item.quantity }}" min="1" readonly>
        {% endif %}
    </div>
    <span class="item-price">R$&nbsp;{{ item.subtotal }}</span>
    {% if sale.status == 'pendente' %}
        <button class="remove-btn" data-id="{{ item.id }}" data-url="{% url 'sale:sale_remove' %}">×</button>
    {% endif %}
</li>
