<form action="{% url 'sale:sale_detail' sale.id %}" method="get" onclick="this.submit()" target="_blank">
    <input type="hidden" name="q" value="empty">
    <div class="order-card status-{{ sale.status }}">
        <div class="order-card-header">
            <h2>Venda #{{ sale.id }}</h2>
            <span class="order-status status-{{ sale.status }}">{{ sale.status }}</span>
        </div>
        <div class="order-card-body">
            <p><strong>Vendedor:</strong> {{ sale.seller }}</p>
            {% if sale.seller %}
                <p><strong>Cliente:</strong> {{ sale.client }}</p>
            {% endif %}
            <p><strong>Data:</strong> {{ sale.created_at|date:"d/m/Y H:i:s" }} </p>
            <p><strong>Ultima Atualização:</strong> {{ sale.updated_at|date:"d/m/Y H:i:s" }}</p>
            <p><strong>Forma de Pagamento:</strong> {{ sale.payment_method }}</p>
            {% if sale.payment_method == 'dinheiro' %}
                <p><strong>Valor recebido:</strong>R$ {{ sale.cash_received }}</p>
            {% endif %}
        </div>
        <div class="order-card-footer">
            <span class="order-total">R$ {{ sale.total_price }}</span>
        </div>
    </div>
</form>
