<div class="container">
    <header>
        <h1>Dashboard de Vendas</h1>
    </header>

    <section class="stats-container">
        {% if request.user.is_staff %}
            <div class="stat-card total">
                <h3>Total de Vendas</h3>
                <p>Quantidade: <span id="total-qty">{{ stats.total_orders }}</span></p>
                <p>Valor: <span id="total-value">R$ {{ stats.total_sales|floatformat:2 }}</span></p>
            </div>
            <div class="stat-card pagos">
                <h3>Vendas Pagas</h3>
                <p>Quantidade: <span id="paid-qty">{{ stats.total_orders_completed }}</span></p>
                <p>Valor: <span id="paid-value">R$ {{ stats.total_sales_completed|floatformat:2 }}</span></p>
            </div>
            <div class="stat-card nao-pagos">
                <h3>Vendas Pendentes</h3>
                <p>Quantidade: <span id="unpaid-qty">{{ stats.total_orders_pending }}</span></p>
                <p>Valor: <span id="unpaid-value">R$ {{ stats.total_sales_pending|floatformat:2 }}</span></p>
            </div>
            <div class="stat-card cancelados">
                <h3>Vendas Canceladas</h3>
                <p>Quantidade: <span id="unpaid-qty">{{ stats.total_orders_cancelled }}</span></p>
                <p>Valor: <span id="unpaid-value">R$ {{ stats.total_sales_cancelled|floatformat:2 }}</span></p>
            </div>
        {% endif %}
    </section>

    <div class="controls">
        <form action="{% url 'sale:sale_search_list' %}" method="get" class="search-form">
            <input type="search" id="search-bar" placeholder="Buscar por nº, cliente ou vendedor..." name="q">
            <input type="date" name="date" id="date">
            <select id="filter-status" name="status">
                <option value="">Todos</option>
                <option value="pago">Pagas</option>
                <option value="pendente">Pendentes</option>
                <option value="cancelado">Canceladas</option>
            </select>
            <button type="submit" class="search-order-btn">Buscar</button>
        </form>
        <form action="{% url 'sale:sale_create' %}" method="POST" class="new-order-form" target="_blank">
            {% csrf_token %}
            <input type="hidden" name="q" value="empty">
            <button type="submit" class="new-order-btn">Nova venda</button>
        </form>
    </div>

    <main id="order-list">
        {% for sale in sales %}
            {% include "sale/partials/pdv/sale_card.html" %}
        {% empty %}
            <p class="no-orders">Nenhuma venda encontrada.</p>
        {% endfor %}
    </main>

</div>