<div class="card card-order">

    <div class="order-id-name">
        <i class="fas fa-box"></i>
        #1054 - Ricardo Moura
    </div>

    <div class="order-date">
        27/08/2025
    </div>

    <div class="order-value">
        R$ 159,90
    </div>

    <div class="order-status">
        <div class="status-content">
            <span>Pendente</span>
            <div class="status-color circle"></div>
        </div>
    </div>

    <div class="order-action">
        <div class="action-buttons">
            <button class="btn btn-export">Detalhes</button>
            <button class="btn btn-add">Concluir</button>
        </div>
    </div>
</div>