<tr class="cart-item" id="item-{{ item.id }}">
    <td>
        <div class="product-item-info">
            <img src="{{ item.product.image.url }}" alt="cafe" class="item-thumbnail">
            <div>
                <span class="item-title">{{ item.product.name }}</span>
                <span class="item-brand">{{ item.product.brand }}</span>
            </div>
        </div>
    </td>
    <td class="item-quantity">{{ item.quantity }}</td>
    <td class="item-sale-price">{{ item.product.stock.sale_price }}</td>
    <td class="item-subtotal">{{ item.subtotal }}</td>
    <td class="item-discount">{{ item.discount }}</td>
    <td class="item-total-price"><strong>{{ item.total_price_with_discount }}</strong></td>
</tr>
