<tr class="order-item" id="item-{{ item.id }}">
    <td data-label="Produto">
        <div class="product-item-info">
            <img src="{{ item.product.image.url }}" alt="cafe" class="item-thumbnail">
            <div>
                <span class="item-title">{{ item.product.name }}</span>
                <span class="item-brand">{{ item.product.brand }}</span>
            </div>
        </div>
    </td>
    <td data-label="Quantidade">{{ item.quantity }}</td>
    <td data-label="Preço de Venda">{{ item.product.stock.sale_price }}</td>
    <td data-label="Subtotal">{{ item.subtotal }}</td>
    <td data-label="Desconto">{{ item.discount }}</td>
    <td data-label="Preço Total"><strong>{{ item.total_price_with_discount }}</strong></td>
</tr>
