<div class="order-page-header">
    <div class="order-header-title">
        <h1>Detalhes do Pedido</h1>
        <span>#{{ order.id }}</span>
    </div>
    <div class="order-status-badge status-{{ order.status }}">
        <i data-feather="check-circle"></i> {{ order.get_status_display }}
    </div>
</div>

<div class="order-layout-grid">

    <div class="order-main-content">
        <h2>Itens do Pedido ({{ order.total_quantity }})</h2>

        <div class="order-items-table-container">
            <table>
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Qtde.</th>
                        <th>Preço Unit.</th>
                        <th>Preço Subtotal</th>
                        <th>Desconto</th>
                        <th>Total</th>      
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.order_items.all %}
                        {% include "sale/partials/order/order_items.html"%}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="order-sidebar">

        <div class="info-box">
            <h3>Resumo do Pedido</h3>
            <ul class="summary-list">
                <li>
                    <span>Subtotal ({{ order.total_quantity }} itens)</span>
                    <strong class="subtotal">R$ {{ order.total_price|floatformat:2 }}</strong>
                </li>
                <li>
                    <span>Desconto</span>
                    <strong class="text-discount">- R$ {{ order.total_discount|floatformat:2 }}</strong>
                </li>
                <li>
                    <span>Frete</span>
                    <strong class="text-discount">5%</strong>
                </li>
                <li class="total">
                    <span>Total</span>
                    <strong>R$ {{ order.total_price_with_discount|floatformat:2 }}</strong>
                </li>
            </ul>
        </div>

        <div class="info-box">
            <h3>Detalhes da Transação</h3>
            <ul class="details-list">
                <li id="client-input"><strong>Cliente:</strong> {{ order.user.first_name }} {{ order.user.last_name }}</li>
                {% if order.seller %}
                    <li id="seller-input"><strong>Vendedor:</strong> {{ order.seller.first_name }} {{ order.seller.last_name }}</li>
                {% endif %}
                <li id="order-date-input"><strong>Data do Pedido:</strong> {{ order.created_at|date:"d N, Y" }}</li>
                <li id="delivered-input"><strong>Entregue:</strong> {{ order.delivered|yesno:"Sim,Não" }}</li>
            </ul>
        </div>

        <div class="info-box">
            <h3>Pagamento</h3>
            <ul class="details-list">
                <li><strong>Método:</strong> {{ order.payment_method }}</li>
                <li><strong>Status:</strong> {{ order.get_status_display }}</li>
            </ul>
        </div>

        <div class="info-box">
            <h3>Endereço de Entrega</h3>
            <address>
                {{ order.user.first_name}} {{ order.user.last_name }}<br>
                {{ client.address }}, {{ client.address_number }}<br>
                Bairro {{ client.address_neighborhood }}, {{ client.address_city }} - {{ client.address_state }}<br>
                CEP: {{ client.address_zipcode }}
            </address>
        </div>
        
        <div class="order-actions">
            <button class="btn btn-secondary" id="print-order"><i data-feather="printer" ></i> Imprimir Pedido</button>
            {% if request.user.is_staff or request.user.is_superuser %}
                <form action="{% url 'sale:order_cancel' order.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger"><i data-feather="x"></i> Cancelar Pedido</button>
                </form>
            {% else %}
                <button class="btn btn-primary"><i data-feather="help-circle"></i> Ajuda</button>
            {% endif %}
        </div>
    </div>

</div>