<div class="container">
    <header>
        {% if request.user.is_staff %}
            <h1>Dashboard de Pedidos</h1>
        {% else %}
            <h1>Meus Pedidos</h1>
        {% endif %}
    </header>

    <section class="stats-container">
        {% if request.user.is_staff %}
            <div class="stat-card total">
                <h3>Total de Pedidos</h3>
                <p>Quantidade: <span id="total-qty">{{ stats.total_orders }}</span></p>
                <p>Valor: <span id="total-value">R$ {{ stats.total_sales|floatformat:2 }}</span></p>
            </div>
            <div class="stat-card pagos">
                <h3>Pedidos Pagos</h3>
                <p>Quantidade: <span id="paid-qty">{{ stats.total_orders_completed }}</span></p>
                <p>Valor: <span id="paid-value">R$ {{ stats.total_sales_completed|floatformat:2 }}</span></p>
            </div>
            <div class="stat-card nao-pagos">
                <h3>Pedidos Pendentes</h3>
                <p>Quantidade: <span id="unpaid-qty">{{ stats.total_orders_pending }}</span></p>
                <p>Valor: <span id="unpaid-value">R$ {{ stats.total_sales_pending|floatformat:2 }}</span></p>
            </div>
            <div class="stat-card cancelados">
                <h3>Pedidos Cancelados</h3>
                <p>Quantidade: <span id="unpaid-qty">{{ stats.total_orders_cancelled }}</span></p>
                <p>Valor: <span id="unpaid-value">R$ {{ stats.total_sales_cancelled|floatformat:2 }}</span></p>
            </div>
        {% endif %}
    </section>

    <form action="{% url 'sale:search_order' %}" class="controls" method="get">
        <input type="search" id="search-bar" placeholder="Buscar por nº, cliente ou vendedor..." name="q">
        <input type="date" name="date" id="date">
        <select id="filter-status" name="status">
            <option value="">Todos</option>
            <option value="pago">Pagos</option>
            <option value="pendente">Pendentes</option>
            <option value="cancelado">Cancelados</option>
        </select>
        <button type="submit" class="search-order-btn">Buscar</button>
    </form>  

    <main id="order-list">
        {% for order in orders %}
            {% include "sale/partials/order/order_card.html" %}
        {% empty %}
            <p class="no-orders">Nenhum pedido encontrado.</p>
        {% endfor %}
    </main>

</div>