<tr>
    <td>
        <div class="product-item-info">
            <img src="{{ item.product.image.url }}" alt="cafe" class="item-thumbnail">
            <div>
                <span class="item-title">{{ item.product.name }}</span>
                <span class="item-brand">{{ item.product.brand }}</span>
            </div>
        </div>
    </td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.product.stock.sale_price }}</td>
    <td>{{ item.subtotal }}</td>
    <td>{{ item.discount }}</td>
    <td><strong>{{ item.total_price_with_discount }}</strong></td>
</tr>
