<div class="cart-item" data-price="5.99" id="product-{{ item.product.id }}">
    {% if item.product.image %}
        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="cart-item-image">
    {% else %}
        <img src="" alt="{{ item.product.name }}" class="cart-item-image">
    {% endif %}
    <div class="cart-item-info">
        <h3>{{ item.product.name }}</h3>
        <p>{{ item.product.brand }}</p>
    </div>
    <div class="cart-item-quantity">
        <form action="" method="post" id="{{ item.product.id }}">
            <button class="quantity-btn minus packaging" name="action" value="minus_packaging" data-unit="{{ item.product.unit_per_packaging }}">- {{ item.product.unit_per_packaging }}</button>
            <button class="quantity-btn minus" name="action" value="minus" data-unit="1">-</button>
            <input type="number" class="quantity-input" value="{{ item.quantity }}" min="1" id="quantity-input" readonly>
            <button class="quantity-btn plus" name="action" value="plus" data-unit="1">+</button>
            <button class="quantity-btn plus packaging" name="action" value="plus_packaging" data-unit="{{ item.product.unit_per_packaging }}">+ {{ item.product.unit_per_packaging }}</button>
        </form>
    </div>
    <div class="cart-item-price">
        {% if display_discount %}
            <div class="item-price-discount show">
        {% else %}
            <div class="item-price-discount">
        {% endif %}
            <p class="discount">{{ item.percentage_discount }}%</p>
            <p class="original-subtotal">R$ {{ item.subtotal }}</p>
        </div>
        <p class="price">R$ {{ item.total_price_with_discount }}</p>
    </div>
    <div class="cart-item-remove">
        <form action="{% url 'sale:cart_remove' item.id %}" method="POST">
            {% csrf_token %}
            <button class="remove-btn" aria-label="Remover item"><i data-feather="delete"></i></button>
        </form>
    </div>
</div>