<aside class="order-summary">
    <h2>Resumo do Pedido</h2>
    
    <div class="summary-line">
        <span>Subtotal (<span id="item-count">{{ cart.total_quantity }}</span> itens)</span>
        <span id="subtotal">R$ {{ cart.total_price }}</span>
    </div>
    
    <div class="summary-line">
        <span>Desconto</span>
        <span id="discount">R$ {{ cart.total_discount }}</span>
    </div>
    
    <div class="summary-line summary-total">
        <span>Total</span>
        <span id="total">{{ cart.total_price_with_discount }}</span>
    </div>

    <form action="{% url 'sale:checkout' %}" method="post" class="checkout-form">
        {% csrf_token %}
        {% if request.user.is_staff %}
            <label for="client">Selecione o cliente</label>
            <select name="client" id="client" class="client-select" placeholder="Selecione um cliente">
                {% for client in clients %}
                    <option value="{{ client.id }}">{{ client.user.first_name }} {{ client.user.last_name }}</option>
                {% endfor %}
            </select>
        {% endif %}
        <label for="payment_method">Selecione o método de pagamento</label>
        <select name="payment_method" id="payment_method" class="client-select" placeholder="Selecione um cliente">
            <option value="Dinheiro">Dinheiro</option>
            <option value="Cartão de Crédito">Cartão de Crédito</option>
            <option value="Boleto">Boleto</option>
            <option value="Pix">Pix</option>
        </select>
        <button type="submit" class="checkout-button">Finalizar Compra</button>
    </form>
</aside>
